<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Register</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<h1>Register in the Blog</h1>

<form method="post" th:action="@{/users/register}" th:object="${registerForm}">
    <div><label for="username">Username:</label></div>
    <input id="username" type="text" name="username" th:value="*{username}" />
    <span class="formError" th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Invalid username</span>

    <div><label for="password" th:value="*{username}">Password:</label></div>
    <input id="password" type="password" name="password" th:value="*{password}" />
    <span class="formError" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Invalid password</span>

    <div><label for="full_name" th:value="*{full_name}">Full Name:</label></div>
    <input id="full_name" type="full_name" name="full_name" th:value="*{full_name}" />
    <span class="formError" th:if="${#fields.hasErrors('full_name')}"
          th:errors="*{full_name}">Invalid Full Name</span>

    <div><input type="submit" value="Register"/>
        <a href="register.html" th:href="@{/users/register}">[Go to Register]</a></div>
</form>

<footer th:replace="layout :: site-footer" />
</body>

</html>
